{
  "techName": "pat_ruler_head",
  "removedTechs": [ "pat_ruler_body", "pat_ruler_legs" ],

  "layer": "Overlay+10000",
  "color": [ 0, 238, 255 ],

  "polyAlpha": 68,
  "lineAlpha": 136,
  "lineWidth": 1,

  "textOffset": [ 0.25, 0 ],
  "textAlpha": 255,
  "textScale": 0.25,
  "charFrames": [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "0", "x" ],
  "charImage": "/pat/ruler/images/numbers.png:<frame>",

  "gridDrawable": {
    "image": "/pat/ruler/images/grid.png",
    "color": [ 255, 255, 255 ],
    "fullbright": true,
    "scale": 0.5
  },
  "gridAlpha": 200,

  "fadeMinimum": 0.25,
  "fadeMovement": 0.06,
  "fadeTime": 0.33
}
