{
  "gui" : {
		"panefeature" : {
			"type" : "panefeature",
			"anchor" : "topRight",
			"offset" : [-24, -252],
			"keyDismissable" : false,
			"persistent" : true,
			"positionLocked" : true
		},
		
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/pat/ruler/pane/body.png",
      "fileFooter" : ""
    },
		
		"slotLabel" : {
			"position" : [35, 26],
			"type" : "label",
			"hAnchor" : "mid",
			"value" : "Ruler Tech Slot"
		},
		
		"changeSlot" : {
			"type" : "radioGroup",
			"buttons" : [
        {
					"position" : [6, 6],
          "baseImage" : "/pat/ruler/pane/buttons.png:head",
          "hoverImage" : "/pat/ruler/pane/buttons.png:head.hover",
          "baseImageChecked" : "/pat/ruler/pane/buttons.png:head.active",
          "hoverImageChecked" : "/pat/ruler/pane/buttons.png:head.hoverActive",
          "pressedOffset" : [0, 0],
          "data" : "head"
        },
        {
					"position" : [26, 6],
          "baseImage" : "/pat/ruler/pane/buttons.png:body",
          "hoverImage" : "/pat/ruler/pane/buttons.png:body.hover",
          "baseImageChecked" : "/pat/ruler/pane/buttons.png:body.active",
          "hoverImageChecked" : "/pat/ruler/pane/buttons.png:body.hoverActive",
          "pressedOffset" : [0, 0],
          "data" : "body"
        },
        {
					"position" : [46, 6],
          "baseImage" : "/pat/ruler/pane/buttons.png:legs",
          "hoverImage" : "/pat/ruler/pane/buttons.png:legs.hover",
          "baseImageChecked" : "/pat/ruler/pane/buttons.png:legs.active",
          "hoverImageChecked" : "/pat/ruler/pane/buttons.png:legs.hoverActive",
          "pressedOffset" : [0, 0],
          "data" : "legs"
        }
			]
		}
	},
	
  "scripts" : [ "/pat/ruler/pane/rulerConfig.lua" ],
	"scriptWidgetCallbacks" : [ "changeSlot" ]
}
